<h1> Welcome To SignUp & Login </h1>

<% if session[:user_id].nil? %>
	<%= link_to "Login", new_session_path %>
	
<% else %>
	<%= link_to "Logout", "/sessions/#{session[:user_id]}", :method => :delete %>
<% end %>

<%= link_to "signup", new_user_path %>

